[class^="MDIcon-"], [class*=" MDIcon-"] {
  font-family: 'icomoonMD';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.MDIcon {
  font-family: 'icomoonMD' !important; }

.MDIcon-dashboard {
  top: 16px !important; }

.MDIcon-dashboard:before {
  content: "\e600";
  font-size: 1.9rem; }

.MDIcon-folder {
  top: 10px !important;
  left: 20px !important;
  font-size: 2rem !important; }

.MDIcon-folder:before {
  content: "\e601";
  font-size: 0.95rem; }

.MDIcon-settings:before {
  content: "\e602"; }

.MDIcon-search:before {
  content: "\e603"; }

.MDIcon-tracking:before {
  content: "\e604"; }

.MDIcon-tracking {
  left: 14px;
  top: 14px; }

.MDIcon-tag:before {
  content: "\e605"; }

.MDIcon-tags:before {
  content: "\e606"; }

.MDIcon-qrcode:before {
  content: "\e607"; }

.MDIcon-location:before {
  content: "\e608"; }

.MDIcon-mobile:before {
  content: "\e609"; }

.MDIcon-drawer:before {
  content: "\e60a"; }

.MDIcon-bubbles:before {
  content: "\e60b"; }

.MDIcon-list:before {
  content: "\e60c"; }

.MDIcon-menu:before {
  content: "\e60d"; }

.MDIcon-link:before {
  content: "\e60e"; }

.MDIcon-attachment:before {
  content: "\e60f"; }

.MDIcon-eye:before {
  content: "\e610"; }

.MDIcon-bookmark:before {
  content: "\e611"; }

.MDIcon-star:before {
  content: "\e612"; }

.MDIcon-star2:before {
  content: "\e613"; }

.MDIcon-star3:before {
  content: "\e614"; }

.MDIcon-heart:before {
  content: "\e615"; }

.MDIcon-heart2:before {
  content: "\e616"; }

.MDIcon-thumbs-up:before {
  content: "\e617"; }

.MDIcon-close:before {
  content: "\e618"; }

.MDIcon-checkmark:before {
  content: "\e619"; }

.MDIcon-checkmark2:before {
  content: "\e61a"; }

.MDIcon-minus:before {
  content: "\e61b"; }

.MDIcon-plus:before {
  content: "\e61c"; }

.MDIcon-googleplus:before {
  content: "\e61d"; }

.MDIcon-facebook:before {
  content: "\e61e"; }

.MDIcon-facebook2:before {
  content: "\e61f"; }

.MDIcon-twitter:before {
  content: "\e620"; }

.MDIcon-twitter2:before {
  content: "\e621"; }

.MDIcon-chrome:before {
  content: "\e622"; }

.MDIcon-minus2:before {
  content: "\e623"; }

.MDIcon-plus2:before {
  content: "\e624"; }

.MDIcon-erase:before {
  content: "\e625"; }

.MDIcon-arrow-left:before {
  content: "\e626"; }

.MDIcon-arrow-down:before {
  content: "\e627"; }

.MDIcon-arrow-up:before {
  content: "\e628"; }

.MDIcon-arrow-right:before {
  content: "\e629"; }

.MDIcon-twitter3:before {
  content: "\e62a"; }

.MDIcon-facebook3:before {
  content: "\e62b"; }

.MDIcon-linkedin:before {
  content: "\e62c"; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible; }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible; }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft; }

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  100% {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight; }

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

/* ---- OLD COLOR ---- */
/* ---- NEW COLOR ---- */
#myDropperSideBar {
  all: initial;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 100%;
  background: #f6f6f6;
  z-index: 999999;
  -webkit-animation: slideInRight 1s ease;
          animation: slideInRight 1s ease;
  display: none;
  font-family: 'AvenirNext', helvetica, arial, sans-serif !important;
  border-left: 1px solid rgba(115, 155, 155, 0.5);
  color: black;
  font-size: 14px;
  overflow: visible; }
  #myDropperSideBar * {
    font-family: 'AvenirNext', helvetica, arial, sans-serif !important;
    font-size: 1em;
    outline: none; }
  #myDropperSideBar .hidden {
    display: none; }
  #myDropperSideBar a {
    color: black;
    transition: all 0.5s ease;
    text-decoration: none; }
    #myDropperSideBar a:hover {
      color: #969696 !important; }
  #myDropperSideBar #sideBarContainer {
    overflow-x: visible !important;
    overflow-y: auto;
    display: block;
    height: 100%;
    scrollbar-base-color: #e1e1e1;
    scrollbar-3dlight-color: #e1e1e1;
    scrollbar-highlight-color: #e1e1e1;
    scrollbar-track-color: #e1e1e1;
    scrollbar-arrow-color: white;
    scrollbar-shadow-color: #e1e1e1;
    scrollbar-dark-shadow-color: #e1e1e1; }
    #myDropperSideBar #sideBarContainer::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #DDD; }
    #myDropperSideBar #sideBarContainer::-webkit-scrollbar {
      width: 8px;
      background-color: #DDD; }
    #myDropperSideBar #sideBarContainer::-webkit-scrollbar-thumb {
      background-color: #e1e1e1; }
  #myDropperSideBar #topSideBar img {
    margin: auto;
    display: block;
    width: 30%;
    padding: 40px 0 30px 0; }
  #myDropperSideBar #closePanelButton {
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 45px;
    height: 50px;
    transition: all 0.5s ease;
    cursor: pointer !important;
    color: #e0e1e3;
    z-index: 10000000;
    display: block; }
    #myDropperSideBar #closePanelButton:hover {
      color: #C3E3FB; }
  #myDropperSideBar #accordeon {
    all: initial;
    width: 100%;
    list-style: none;
    font-family: 'AvenirNext', helvetica, arial, sans-serif !important; }
    #myDropperSideBar #accordeon .category {
      position: relative;
      border-bottom: 1px solid rgba(139, 141, 142, 0.3);
      display: block;
      transition: all 1s ease; }
      #myDropperSideBar #accordeon .category:first-child {
        border-top: 1px solid rgba(139, 141, 142, 0.1); }
      #myDropperSideBar #accordeon .category span {
        position: absolute;
        top: 23px;
        right: 20px; }
      #myDropperSideBar #accordeon .category h2 {
        height: 60px;
        line-height: 63px;
        box-sizing: content-box !important;
        font-weight: normal;
        margin: 0;
        cursor: pointer;
        width: 100% !important;
        padding: 0px 20px !important;
        display: block;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 1;
        font-size: 1em;
        text-decoration: none;
        font-style: normal;
        color: #000111;
        text-align: left;
        background-image: linear-gradient(to bottom, #FCFDFD 0%, #EEEFF0 100%); }
      #myDropperSideBar #accordeon .category .dragList {
        max-height: 0;
        overflow: hidden;
        display: block;
        overflow: hidden;
        list-style: none;
        transition: all 1s ease;
        cursor: pointer;
        padding: 0;
        margin: auto;
        transition: all 0.5s linear;
        color: #000111;
        text-align: left; }
        #myDropperSideBar #accordeon .category .dragList li {
          text-decoration: none;
          font-style: normal;
          display: block;
          width: 100%;
          margin: auto;
          height: 55px;
          line-height: 60px;
          padding: 0 30px;
          background: #e0e1e3;
          border-top: 1px solid rgba(139, 141, 142, 0.2);
          border-bottom: 1px solid #f4f4f4;
          transition: all 0.5s ease;
          font-size: 0.9em;
          text-transform: capitalize;
          text-align: left;
          cursor: -webkit-grab;
          cursor: grab; }
          #myDropperSideBar #accordeon .category .dragList li:first-child {
            border-top: rgba(139, 141, 142, 0.1); }
          #myDropperSideBar #accordeon .category .dragList li:hover {
            background: #cbced0; }
            #myDropperSideBar #accordeon .category .dragList li:hover i {
              color: #666; }
          #myDropperSideBar #accordeon .category .dragList li i {
            font-family: 'icomoonMD' !important;
            margin-right: 20px;
            transition: all 0.5s ease; }
            #myDropperSideBar #accordeon .category .dragList li i:before {
              font-family: 'icomoonMD' !important; }
        #myDropperSideBar #accordeon .category .dragList li.md-draging {
          opacity: 0.9;
          -webkit-transform: rotate(-4deg);
              -ms-transform: rotate(-4deg);
                  transform: rotate(-4deg);
          transition: -webkit-transform 1s ease;
          transition: transform 1s ease; }
      #myDropperSideBar #accordeon .category .dragList.open {
        display: block !important;
        height: auto !important;
        max-height: 1500px !important; }
  #myDropperSideBar [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element; }
  #myDropperSideBar h1 {
    text-align: center;
    font-size: 20px;
    font-family: helvetica, arial;
    width: 100%;
    background: #607D8B;
    padding: 20px 0;
    margin: 0;
    border-top: 5px solid #455A64;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  #myDropperSideBar ul {
    padding: 0;
    display: block;
    margin: auto; }
  #myDropperSideBar #form {
    margin-top: 16%;
    display: block;
    font-weight: normal;
    font-size: 16px; }
    #myDropperSideBar #form #submit {
      display: none !important; }
    #myDropperSideBar #form .form-group {
      all: initial;
      width: 80%;
      display: block;
      margin: 0 auto 25px auto; }
      #myDropperSideBar #form .form-group label {
        width: 100%;
        display: inline-block;
        margin-right: 3%;
        margin-bottom: 5px;
        text-align: left;
        vertical-align: middle;
        outline-color: white;
        font-size: 1em; }
      #myDropperSideBar #form .form-group input {
        all: initial;
        width: 92%;
        padding: 4px 3%;
        display: inline-block;
        margin: 6px 0 0 0;
        border: 0;
        height: 26px;
        border-bottom: 2px solid #cbced0;
        border-right: 1px solid #cbced0;
        vertical-align: middle;
        background: rgba(0, 0, 0, 0.1);
        color: black;
        font-size: 0.9em; }
        #myDropperSideBar #form .form-group input::-webkit-input-placeholder {
          color: black;
          opacity: 0.6; }
        #myDropperSideBar #form .form-group input:-moz-placeholder {
          color: black;
          opacity: 0.6; }
        #myDropperSideBar #form .form-group input::-moz-placeholder {
          color: black;
          opacity: 0.6; }
        #myDropperSideBar #form .form-group input:-ms-input-placeholder {
          color: black;
          opacity: 0.6; }
      #myDropperSideBar #form .form-group input[type='submit'] {
        display: block;
        margin: auto; }
      #myDropperSideBar #form .form-group:last-child {
        margin-left: auto;
        margin-top: 50px; }
    #myDropperSideBar #form .button {
      margin-top: 50px;
      margin-top: 20px; }
  #myDropperSideBar p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.2em;
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #646464; }
    #myDropperSideBar p a {
      border-bottom: 1px solid white;
      transition: all 1s ease;
      color: #b4b4b4 !important; }
      #myDropperSideBar p a:hover {
        color: black !important;
        border-bottom: 1px solid #787878; }
  #myDropperSideBar #sessionInfo {
    display: block;
    text-align: right;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px 5% 8px 5%;
    background: #e0e1e3;
    z-index: 1000;
    list-style: none;
    box-sizing: border-box !important; }
    #myDropperSideBar #sessionInfo li {
      display: inline-block; }
      #myDropperSideBar #sessionInfo li:after {
        content: '  -  '; }
      #myDropperSideBar #sessionInfo li:last-child:after {
        display: none; }
  #myDropperSideBar #moreInfo {
    display: none;
    position: absolute;
    width: auto;
    max-width: 400px;
    min-width: 200px;
    color: #000111;
    padding: 10px 13px;
    line-height: normal;
    z-index: 10000;
    right: 320px;
    border: 1px solid rgba(175, 175, 175, 0.3);
    background-image: linear-gradient(to bottom, #F4F4F4 0%, #E5E6E7 100%); }
    #myDropperSideBar #moreInfo:after {
      content: '';
      right: -10px;
      top: 10px;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #e5e6e7; }
  #myDropperSideBar .button {
    all: initial;
    display: block;
    overflow: hidden;
    width: 155px;
    height: 50px;
    padding: 0 !important;
    border-radius: 0;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 20px auto;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 54px;
    font-size: 0.9em; }
    #myDropperSideBar .button:hover {
      color: rgba(0, 0, 0, 0.5) !important;
      background: rgba(0, 0, 0, 0.13); }
      #myDropperSideBar .button:hover svg line {
        transition-delay: 0.1s; }
    #myDropperSideBar .button svg {
      position: absolute;
      top: 0;
      left: 0;
      outline-style: none;
      outline-width: 0px;
      overflow: hidden;
      display: block; }
      #myDropperSideBar .button svg line {
        stroke-width: 3;
        stroke: rgba(0, 0, 0, 0.2);
        fill: none;
        transition: all 1s ease; }
  #myDropperSideBar .button.float {
    float: left; }
    #myDropperSideBar .button.float:first-child {
      margin-right: 20px !important; }
  #myDropperSideBar .button svg line.top, #myDropperSideBar .button svg line.bottom {
    stroke-dasharray: 155; }
  #myDropperSideBar .button svg line.left, #myDropperSideBar .button svg line.right {
    stroke-dasharray: 50; }
  #myDropperSideBar .button:hover svg line.top {
    -webkit-transform: translateX(-310px);
        -ms-transform: translateX(-310px);
            transform: translateX(-310px); }
  #myDropperSideBar .button:hover svg line.bottom {
    -webkit-transform: translateX(310px);
        -ms-transform: translateX(310px);
            transform: translateX(310px); }
  #myDropperSideBar .button:hover svg line.left {
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px); }
  #myDropperSideBar .button:hover svg line.right {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }

#myDropperSideBar.hideBar {
  -webkit-animation: slideOutRight 1s ease;
          animation: slideOutRight 1s ease; }

.md-dragOver {
  opacity: 0.4 !important;
  background: rgba(46, 204, 113, 0.5) !important; }
