{% extends '_layout/mail.twig' %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block content %}
    Hi, {{ firstname }}
    <br/>
    It's the first step of lostPassword, please click on this link : <a href="{{ link | raw }}">Change my Password</a>
{% endblock %}
