{% extends '_layout/layout.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="dashboard">
            <h1>Edit store</h1>

            <form method="POST" action="{{ url('/stores/edit', [id]) }}" class="formData">
                <div class="form-group">
                    <label for="dataName">Name :</label>
                    <input type="text" name="label" placeholder="Name" value="{{ values.label ? values.label : '' }}" required/>
                </div>
                <div class="form-group">
                    <label for="content">Content :</label>
                    <textarea name="descript">{{ values.descript ? values.descript : '' }}</textarea>
                </div>

                <div class="form-group disabled checkboxContainer">
                    {% if be_notice is not null  %}
                        {% if be_notice == 1 %}
                            <input type="checkbox" class="checkbox" name="pushbullet" value="true" checked>
                        {% else %}
                            <input type="checkbox" class="checkbox" name="pushbullet" value="false">
                        {% endif %}
                        Use Pushbullet for sending notification me at every click.<br>
                    {% endif %}
                </div>

                <input type="hidden" name="storeId" value="{{ id }}"/>

                <div class="form-group">
                    <input type="submit" class="hidden" value="addData"/>
                    <a href="#" id="submitEdit" class="ghostBtn submitBtn clearfix animated fadeInRight">
                        <span>Validate</span>
                    </a>
                </div>

            </form>

        </div>
    </div>

{% endblock %}
