{% extends '_layout/layout.twig' %}

{% block javascripts %}{% endblock %}

{% block content %}

    <h1>Error {{ error.code  }}</h1>

    {% if status == 0 %}
        Error, please go back to the home page.
    {% else %}
        <code>
            <pre>
                {{ error.text }}
            </pre>
        </code>
    {% endif %}

{% endblock %}
