{% extends '_layout/layout.twig' %}

{% block content %}

    <div id="homePage" class="loginPage">
        <img src='../assets/images/myDropper-logo.png' id="logo" alt="logo MyDropper">
        <h2>Store your data, save time, and reuse <br>
            it quickly in an effective way !</h2>
        <div class="containerHome">

            <!-- Display Messages (Good | Bad) -->
            {% if messages %}
                <div id="formFeedback">
                    <h3>There are some issues : </h3>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message | raw }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form action="{{ url('/users/connect') }}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username"
                           value="{{ values.username ? values.username : '' }}" required/>
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="password" required/>
                </div>

                <div class="form-group">
                    <input type="submit" class="hidden" value="Login"/>
                    <a href="#" class="button submitBtn" id="submitConnexionForm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="0" y1="0" x2="465" y2="0" />
                            <line class="left" x1="0" y1="50" x2="0" y2="-100" />
                            <line class="bottom" x1="155" y1="50" x2="-310" y2="50" />
                            <line class="right" x1="155" y1="0" x2="155" y2="150" />
                        </svg>
                        <span>Log In</span>
                    </a>
                </div>
            </form>
            <p>Don't have an account?  Please <a href="{{ url('/users/subscribe') }}">sign in</a>.</p>
        </div>
    </div>

{% endblock %}