{% extends '_layout/layout.twig' %}

{% block content %}

    <!-- Display Messages (Good | Bad) -->
    {% if messages %}
        <div id="formFeedback">
            <h3>There are some issues : </h3>
            <ul>
                {% for message in messages %}
                    <li>{{ message | raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ url('/users/lostpassword') }}" method="POST">
        <div class="form-group">
            <label for="mail">Mail</label>
            <input type="email" name="mail" placeholder="Mail" required/>
        </div>

        <input type="submit" value="Seed mail"/>
    </form>

{% endblock %}
