<div class="dashboard">
    <h1>Admin Dashboard</h1>
    <nav>
        <a href="{{ url('/admin/users') }}">Users</a>
    </nav>
    <div class="datas">
        <h2>Datas</h2>
        <p>
            Users : {{ usersCount }}
        </p>
        <p>
            Stores : {{ storesCount }}
        </p>
        <p>
            Categories : {{ categoriesCount }}
        </p>
    </div>
</div>