{% extends '_layout/layout.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="dashboard" class="chromeInstall">
            <h1>MyDropper.io</h1>
            <p>This extension is only available for Google Chrome. If you do not use Google Chrome, all you need is to
                <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">download the browser</a> and to connect to the Chrome Web Store to get the My Dropper extension, in just a few clicks. </p>
            <a href="https://chrome.google.com/webstore/detail/my-dropper/abchmallljbphbkjchahcogmjglkloao" target="_blank" class="installExtensionLink">Get it for Chrome</a>
        </div>

    </div>

{% endblock %}
