{% extends '_layout/layout.twig' %}

{% block content %}

    <div id="howItWorks" class="homeSidePage">
        <a href="{{ url('/') }}" class="ghostBtn btnHome">
            Back
        </a>
        <div id="topContainer">
            <h1>How it works ?</h1>
            <p>
                Do not worry, My Dropper is not complicated! <br/>Rather, it is made to make your life easier by bringing together the information
                <br/>you're likely to use frequently on the web. Few clicks are enough to enjoy My Dropper.
            </p>
        </div>

        <div id="howItWorksContainer">
            <section>
                <img class="responsiveImg" src="../assets/images/howItWorks-JoinMyDropper.png" alt="Join My Dropper screenshot"/>
                <div class="text">
                    <h2>Join my Dropper</h2>
                    <p>Sign up to the website :  myDropper.io</p>
                </div>
                <img src="../assets/images/howItWorks-JoinMyDropper.png" alt="Join My Dropper screenshot"/>
            </section>

            <section class="grey">
                <img src="../assets/images/howItWorks-Extension.png" alt="Chrome store"/>
                <div class="text">
                    <h2>Install the extension</h2>
                    <p>Visit the <a href="https://chrome.google.com/webstore/detail/my-dropper/abchmallljbphbkjchahcogmjglkloao/related" target="_blank">Chrome Web Store</a> to install the My Dropper Extension</p>
                </div>

            </section>

            <section>
                <img class="responsiveImg" src="../assets/images/howItWorks-AddSnippet.png" alt="Create content exemple"/>
                <div class="text">
                    <h2>Create your contents</h2>
                    <p>Create categories and add your contents. You can add a link that will be tracked at each click and get a data vizualisation via My Dropper website.</p>
                </div>
                <img  src="../assets/images/howItWorks-AddSnippet.png" alt="Create content exemple"/>
            </section>

            <section class="grey">
                <img src="../assets/images/howItWorks-DragAndDrop.png" alt="Drag And Drop screenshot"/>
                <div class="text">
                    <h2>Drag and Drop</h2>
                    <p>Drag and drop your contents from the My Dropper extension to any website</p>
                </div>
            </section>

            <section>
                <img class="responsiveImg" src="../assets/images/howItWorks-Edit.png" alt="Edit infos example"/>
                <div class="text">
                    <h2>Edit your informations</h2>
                    <p>You can edit, add, or delete your contents anytime from the My Dropper website !</p>
                </div>
                <img  src="../assets/images/howItWorks-Edit.png" alt="Edit infos example"/>
            </section>
        </div>
    </div>

{% endblock %}
