{% extends '_layout/layout.twig' %}

{% block content %}
    <div id="whoAreWe">

        <a href="{{ url('/') }}" class="ghostBtn btnHome">
            Back
        </a>
        <div id="whoAreWeTop">
            <h1>who we are ?</h1>
            <p>
                We are a team of six third-year students of HETIC. <br/>

                My Dropper is the result of two months of work as part of a back development project. <br/>

                It was conducted under the direction of Nicolas André, our project manager. <br/>
            </p>
        </div>

        <ul id="teamContainer" class="clearfix">
            <li id="nicolas">
                <a href="#">
                    <span class="desc">
                        <h2>NICOLAS<br><span>ANDRE</span></h2>
                        <h3>Back-end<br>developer</h3>
                    </span>
                </a>
            </li>
            <li id="heloise">
                <a href="http://heloise-hauteville.fr/" target="_blank">
                    <span class="desc">
                        <h2>HELOÏSE<br><span>HAUTEVILLE</span></h2>
                        <h3>UI / UX<br>designer</h3>
                    </span>
                </a>
            </li>
            <li id="patrick">
                <a href="http://hengpatrick.fr/" target="_blank">
                    <span class="desc">
                        <h2>PATRICK<br><span>HENG</span></h2>
                        <h3>Front-end<br>developer</h3>
                    </span>
                </a>
            </li>
            <li id="mathieu">
                <a href="http://mathieuletyrant.com/" target="_blank">
                    <span class="desc">
                        <h2>MATHIEU<br><span>LE TYRANT</span></h2>
                        <h3>Back-end<br>developer</h3>
                    </span>
                </a>
            </li>
            <li id="wassim">
                <a href="#">
                    <span class="desc">
                        <h2>WASSIM<br><span>FOAD</span></h2>
                        <h3>Community<br>manager</h3>
                    </span>
                </a>
            </li>
            <li id="clara">
                <a href="#">
                    <span class="desc">
                        <h2>CLARA<br><span>D'ARCO</span></h2>
                        <h3>UI / UX<br>designer</h3>
                    </span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
