{% extends '_layout/layout.twig' %}

{% block aside %}
    {% include '_includes/aside.twig' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div id="dashboard">
            <h1>History</h1>

            {% if trackers is empty %}
                <div id="noData">
                    <img src="../assets/images/dragAndDrop.png" alt="Drag and drop icon"/>
                    You have not drag and drop a snippet yet
                </div>
            {% else %}
                <ul class="cardList clearfix">
                    {% for tracker in trackers %}
                        <li>
                            <h3>{{ tracker.stores.label }}</h3>
                            <span> <a target="_blank" href="{{ tracker.full_url }}">{{ tracker.on_url }}</a></span>
                            <span>{{ tracker.created_at | date("d/m/Y H:i:s") }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

{% endblock %}
