@import 'normalize';
@import 'select3';
@import 'datepicker';
@import 'animations';
@import 'fonts';
@import 'chartist';
@import 'fonts';
@import 'sidebar';
@import 'global';


$dashboardGreyLight : #fbfdff;
$dashboardGreyMedium : #f6f6f6;
$dashboardBorder : #d9d9d9;
$greyLight: #e3e2e3;

$darkBlue : #1f282d;
$lightBlue : #bbe4f9;
$borderBottom :#131c22;
$borderTop :#424950;
$lightGrey : #CCC;

body{
  background: $borderBottom;
}

/* —————————————————————————————— ADMIN HEADER —————————————————————————————— */
header.admin_header{
  background: $darkBlue;
  border-bottom: 2px solid $borderBottom;

  h1{
    margin: 0;
    color: #FFF;
    margin-top: 5px;
    margin-left: 10px;
  }
  .connected{
    position: absolute;
    top: 0;
    right: 30px;
    padding: 5px;
    width: 200px;
    .username{
      display: block;
      float: left;
      color: $lightBlue;
      font-size: 1rem;
      margin-top: 10px;
    }
    img{
      position: relative;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 100px;
    }
    .profileMenu{
      transition: all 300ms;
      display: none;
      background: $darkBlue;
      position: absolute;
      right: 12px;
      width: 100px;
      top: 50px;
      margin: 0;
      list-style: none;
      padding: 0;

      li a{
        display: block;
        width: 100%;
        padding: 4px 0;
        color : #FFF;
        text-align: center;
        border-bottom: 1px solid $lightBlue;
      }
      li a:hover{
        color:$lightBlue;
      }
    }
  }
  .connected:hover{
    .profileMenu{
      display: block;
    }
  }
}

/* —————————————————————————————— ADMIN INDEX —————————————————————————————— */
.admin{
  div,span,ul,li,span{
    box-sizing: border-box;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .datas{
    width: 100%;
    margin-top: 52px;
    border-bottom: 3px solid $borderBottom;
    .tiles{
      background: $darkBlue;
      transition: all 300ms;
      width: 16.6666%;
      opacity: .6;
      min-width: 245px;
      height: 140px;
      float: left;
      padding: .8% 0;
      border: 3px solid $borderBottom;
      h3,h2{
        text-align: left;
      }
      h2{
        margin-top: 20px;
        text-align: center;
        color: #FFF;
      }
      h3{
        padding-left: 20px;
        color: $lightBlue;
      }
      h4{
        margin: 0;
        margin-top: 10px;
        text-align: left;
        padding-left: 30px;
        color: #FFF;
        font-size: 1.2rem;
        position: relative;
        .value{
          display: inline-block;
          width: 30%;
        }
        span.label{
          font-size: .9rem;
          display: inline-block;
          padding-left: 10px;
          color: $lightGrey;
        }
      }
    }
    .tiles:hover{
      opacity: 1;
    }
  }
  .users{
    h1{
      padding: 10px 0;
      margin: 0;
      padding-left: 10px;
      color: $lightGrey;
    }
    .userslist{
      display: block;
      width: 100%;
      position: relative;
      li:hover{
        opacity: 1;
      }
      li{
        display: block;
        float: left;
        width: 20%;
        min-width: 300px;
        background: $darkBlue;
        border: 8px solid $borderBottom;
        padding: 15px;
        opacity: .6;
        transition: all 300ms;
        .card_section{
          position: relative;
          display: block;
          width: 100%;
          color: $lightGrey;
        }
        .top{
          width: 100%;
          padding-bottom: 15px;
          border-bottom: 1px solid $borderBottom;
          img{
            width: 40px;
            height: 40px;
            border-radius: 100px;
            position: absolute;
            border: 1px solid #FFF;
          }
          h3{
            color: #FFF;
            padding-left: 50px;
          }
          .role{
            display: none;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            background: $lightGrey;
            color: $darkBlue;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            right: 0;
            top: 5px;
          }
          .role.admin{
            display: block;
          }
        }
        .infos{
          p{
            padding-left: 10px;
          }
        }
        .controls{
          a{
            width: 44%;
            display: block;
            margin: 5px 3%;
            background: $borderBottom;
            padding: 4px 0;
            text-align: center;
            float: left;
            position: relative;
          }
          a:hover{
            span{
              color: $lightBlue;
            }
          }
        }
      }
    }
  }
  .infinite{
    display: block;
    clear: both;
    width: 100%;
    margin-top: 20px;
    #load_more{
      box-sizing: border-box;
      display: block;
      width: 100px;
      background: $darkBlue;
      margin: 10px auto;
      color: $lightBlue;
      padding: 6px 10px;
      text-align: center;
      transition: all 300ms;
    }
    #load_more:hover{
      background: $borderBottom;
      border: 1px solid $darkBlue;
    }
  }
}


/* —————————————————————————————— ADMIN USERS EDIT —————————————————————————————— */

.admin{
  .go_back{
    top: 60px;
    left: 0;
    position: absolute;
    padding: .4rem .8rem;
    display: block;
    background: $darkBlue;
    color: $lightBlue;
    font-size: 1rem;
  }
  .go_back:hover{
    background: $lightGrey;
  }
  h3{
    margin-top: 0;
    margin-bottom: .3rem;
    font-size: 1.6rem;
  }
  .content{
    margin: 80px auto;
    min-width: 660px;
    width: 40%;
    background: #FFF;
    padding: 15px;
  }
  .header{
    height: 90px;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      left: 2.5%;
      top: 15px;
      height: 60px;
      width: 60px;
      border-radius: 100px;
    }
    h1{
      display: inline-block;
      margin: 0;
      margin-left: 100px;
      line-height: 92px;
    }
  }

  .edit{
    box-sizing: border-box;
    padding-left: 2.5%;
    #formFeedback{
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
    h4{
      margin: 0;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li{
      color: #FF3300;
    }
    .form{
      .form-group{
        margin: .5rem 0;
        label{
          display: inline-block;
          width: 120px;
          color: #333;
        }
        input{
          padding: .2rem .4rem;
          color: #000;
          width: 180px;
        }
      }
      .form-group.submit{
        input{
          display: block;
          width: 120px;
          margin: 1rem 0;
          line-height: 25px;
          padding: 0;
        }
      }
    }
  }
  .perso_datas{
    box-sizing: border-box;
    float: left;
    padding-left: 2.5%;
    width: 100%;
    ul.panels{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: block;
        margin: 2%;
        position: relative;
        width: 100px;
        float: left;
        p{
          text-align: center;
          margin: 0;
        }
        .value{
          color: $blue;
          font-size: 1.6rem;
          border: 2px solid $blue;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        .label{
          color: #FFF;
          background: $blue;
          width: 100%;
          padding: .6rem 0;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
      li:first-child{
        margin-left: 0;
      }
      li:last-child{
        margin-right: 0;
      }
    }

    p{
      margin-left: 3%;
      color: #000;
      font-weight: bold;
    }
  }
}