$dashboardGreyLight : #fbfdff;
$dashboardGreyMedium : #f6f6f6;
$dashboardBorder : #d9d9d9;
$greyLight: #e3e2e3;


#dashboard {
    width: 100%;
    height: 100%;
    h1 {
        display: inline-block;
    }
    .cardList {
        display: block;
        padding: 0 30px;
        list-style: none;

        li {
            display: block;
            width: calc(20% - 4px);
            margin: 30px 2.5%;
            background: #DEDEDE;
            float : left;
            border-radius : 10px;
            text-align : center;
            background : $dashboardGreyLight;
            border : 2px solid $dashboardBorder;
            box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.03);
            overflow :hidden;
            a {
                color : black;
                transition: all 0.5s ease;
                &:hover {
                    color : rgba(0,0,0,0.7);
                }
            }
            h3,span,.moreInfo {
                padding : 20px 4% 15px 4%;
                display : block;
                width : 92%;
                overflow-x : hidden;
                margin : 0;
                border-bottom : 1px solid $dashboardBorder; 
            }
            h3 {
                background : $dashboardGreyMedium;
            }
            .moreInfo {
                border-bottom : 0;
                span {
                    width : 50px;
                    height : 50px;
                    display : block;
                    margin : auto;
                    border-radius: 50%;
                    border : 1px solid $dashboardBorder;
                    line-height: 51px;
                    padding : 0;
                    font-size : 1.2rem;
                    color : #AAA;
                    background-color : #eee;
                    transition: all 0.5s ease;
                    cursor : pointer;
                    &:hover {
                        opacity : 0.6;
                        transform: rotate(90deg);
                    }
                }
            }            
        }
        .icon-pencil {
             margin-right : 20px;
            &:hover {
                color : #888888 ;
            }
        }
        .icon-bin {
            margin-left : 20px;
            &:hover {
                color : #888888 ;
            }
        }
    }
    .editCat {
        display : inline;
        color : black;
        transition: all 0.5s ease;

        &:before {
            content: ' - ';
            margin-left : 10px;
            margin-right : 10px;
        }
        &:hover {
            span {
                border-bottom : 1px solid $greyLight;
            }

        }
    }
    #noData {
        margin-top : 7%;
        text-align : center;
        text-align: center;

        width : 80%;
        padding : 0 10%;
        h2 {
            color: #bbe4f9;
            font-weight: bold;
            font-size: 1.5rem;
            width : 80%;
            margin : auto;
            text-transform: uppercase;
        }
        p {
            width : 80%;
            margin : 15px auto 45px auto;
            max-width: 700px;
        }
        img {
            width : 200px;
            margin : 60px auto;
            display: block;
        }
        a {
            text-decoration: underline;
            color : #e3e2e3;
            &:hover {
                color : #D3D3D3;
            }
        }

    }
}

#dashboard.chromeInstall {
    h1 {
        text-align : center;
        font-weight: normal;
        width : 100%;
        padding : 0;
        margin-left : 0;
        margin-top : 10%;
        font-size : 2.9rem;
    }

    p {
        width : 80%;
        margin : 55px auto 0 auto;
        max-width : 550px;
        text-align : center;
        font-size : 1.1rem;
        line-height: 1.5rem;
        a {
            color : #888888;
        }
    }
    .installExtensionLink {
        margin: 50px auto 0 auto;
        text-align: center;
        display: block;
        width: 215px;
    }
}

.installExtensionLink {
    color : black !important;
    border : 1px solid black;
    padding : 10px 20px 9px 20px;
    font-weight : normal;
    text-decoration: none !important;
    font-size : 1.15rem;
    transition: all 0.5s ease;
    width : auto;
    &:hover {
        color : #777777;
        transform: translateY(-5px);
    }
}