@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTCom-UltLt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-UltLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTCom-UltLt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTCom-UltLt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTCom-UltLt.svg#23c2d5e1dd2a079a7fa7ba1cd30ca2f6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTCom-Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTCom-Lt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTCom-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTCom-Lt.svg#a87d574f2ccb02c8976c392488c7e6e3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTCom-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelveticaNeueLTCom-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeueLTCom-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/HelveticaNeueLTCom-Roman.svg#ad73ce6e831ad12bb7b1fe29dcd2c235') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}