@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.svg#23c2d5e1dd2a079a7fa7ba1cd30ca2f6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.svg#a87d574f2ccb02c8976c392488c7e6e3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.svg#ad73ce6e831ad12bb7b1fe29dcd2c235') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Helvetica/HelveticaNeueLTCom-UltLt.svg#23c2d5e1dd2a079a7fa7ba1cd30ca2f6') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Helvetica/HelveticaNeueLTCom-Lt.svg#a87d574f2ccb02c8976c392488c7e6e3') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  500;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Helvetica/HelveticaNeueLTCom-Roman.svg#ad73ce6e831ad12bb7b1fe29dcd2c235') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../fonts/Avenir/Avenir-Next_10.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Avenir/Avenir-Next_10.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Avenir/Avenir-Next_10.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Avenir/Avenir-Next_10.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Avenir/Avenir-Next_10.svg#bdda6bf0cbb2275362361ca24e93166f') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../fonts/Avenir/Avenir-Next_7.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Avenir/Avenir-Next_7.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Avenir/Avenir-Next_7.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Avenir/Avenir-Next_7.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Avenir/Avenir-Next_7.svg#fe299bf9c71888f1da7b2c2d74973b56') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  700;
}



// FONT ICON
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/Icomoon/icomoon.eot?8k1mez');
  src:url('../fonts/Icomoon/icomoon.eot?#iefix8k1mez') format('embedded-opentype'),
    url('../fonts/Icomoon/icomoon.woff?8k1mez') format('woff'),
    url('../fonts/Icomoon/icomoon.ttf?8k1mez') format('truetype'),
    url('../fonts/Icomoon/icomoon.svg?8k1mez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon2';
  src:url('../fonts/Icomoon/icomoon2.eot?8k1mez');
  src:url('../fonts/Icomoon/icomoon2.eot?#iefix8k1mez') format('embedded-opentype'),
    url('../fonts/Icomoon/icomoon2.woff?8k1mez') format('woff'),
    url('../fonts/Icomoon/icomoon2.ttf?8k1mez') format('truetype'),
    url('../fonts/Icomoon/icomoon2.svg?8k1mez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard {
  top : 16px !important;
}
.icon-dashboard:before {
  content: "\e600";
  font-size: 1.9rem;

}

.icon-folder {
  top: 10px !important;
  left: 20px !important;
  font-size: 2rem !important;
}
.icon-folder:before {
  content: "\e601";
  font-size : 0.95rem;
}

.icon-settings:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e603";
}

.icon-tracking:before {
  content: "\e604";
}
.icon-tracking {
  left: 14px;
  top: 14px;
}

.icon-tag:before {
  content: "\e605" !important;
}

.icon-tags:before {
  content: "\e606";
}

.icon-qrcode:before {
  content: "\e607";
}

.icon-location:before {
  content: "\e608";
}

.icon-mobile:before {
  content: "\e609";
}

.icon-drawer:before {
  content: "\e60a";
}

.icon-bubbles:before {
  content: "\e60b";
}

.icon-list:before {
  content: "\e60c";
}

.icon-menu:before {
  content: "\e60d";
}

.icon-link:before {
  content: "\e60e";
}

.icon-attachment:before {
  content: "\e60f";
}

.icon-eye:before {
  content: "\e610";
}

.icon-bookmark:before {
  content: "\e611";
}

.icon-star:before {
  content: "\e612";
}

.icon-star2:before {
  content: "\e613";
}

.icon-star3:before {
  content: "\e614";
}

.icon-heart:before {
  content: "\e615";
}

.icon-heart2:before {
  content: "\e616";
}

.icon-thumbs-up:before {
  content: "\e617";
}

.icon-close:before {
  content: "\e618";
}

.icon-checkmark:before {
  content: "\e619";
}

.icon-checkmark2:before {
  content: "\e61a";
}

.icon-minus:before {
  content: "\e61b";
}

.icon-plus:before {
  content: "\e61c";
}

.icon-googleplus:before {
  content: "\e61d";
}

.icon-facebook:before {
  content: "\e61e";
}

.icon-facebook2:before {
  content: "\e61f";
}

.icon-twitter:before {
  content: "\e620";
}

.icon-twitter2:before {
  content: "\e621";
}

.icon-chrome:before {
  content: "\e622";
}

.icon-minus2:before {
  content: "\e623";
}

.icon-plus2:before {
  content: "\e624";
}

.icon-erase:before {
  content: "\e625";
}

.icon-arrow-left:before {
  content: "\e626";
}

.icon-arrow-down:before {
  content: "\e627";
}

.icon-arrow-up:before {
  content: "\e628";
}

.icon-arrow-right:before {
  content: "\e629";
}

.icon-twitter3:before {
  content: "\e62a";
}

.icon-facebook3:before {
  content: "\e62b";
}

.icon-linkedin:before {
  content: "\e62c";
}


.icon-pencil:before {
    content: "\e905";
}

.icon-pencil2:before {
    content: "\e906";
}

.icon-bullhorn:before {
    content: "\e91a";
}

.icon-connection:before {
    content: "\e91b";
}

.icon-book:before {
    content: "\e91f";
}

.icon-books:before {
    content: "\e920";
}

.icon-file-text:before {
    content: "\e922";
}



.icon-folder-open:before {
    content: "\e930";
}

.icon-folder-plus:before {
    content: "\e931";
}

.icon-folder-minus:before {
    content: "\e932";
}

.icon-folder-download:before {
    content: "\e933";
}

.icon-folder-upload:before {
    content: "\e934";
}

.icon-key:before {
    content: "\e98d";
}

.icon-key2:before {
    content: "\e98e";
}

.icon-lock:before {
    content: "\e98f";
}

.icon-unlocked:before {
    content: "\e990";
}

.icon-equalizer:before {
    content: "\e992";
}

.icon-equalizer2:before {
    content: "\e993";
}

.icon-cog:before {
    content: "\e994";
}

.icon-cogs:before {
    content: "\e995";
}

.icon-pie-chart:before {
    content: "\e99a";
}

.icon-stats-dots:before {
    content: "\e99b";
}

.icon-stats-bars:before {
    content: "\e99c";
}

.icon-bin:before {
    content: "\e9ac";
}

.icon-bin2:before {
    content: "\e9ad";
}

.icon-menu2:before {
    content: "\e9be";
}

.icon-menu3:before {
    content: "\e9bf";
}

.icon-menu4:before {
    content: "\e9c0";
}

.icon-embed:before {
    content: "\ea7f";
}

.icon-embed2:before {
    content: "\ea80";
}

.icon-feed2:before {
    content: "\ea94";
}

.icon-dribbble:before {
    content: "\eaa6";
}

.icon-blogger:before {
    content: "\eab9";
}

.icon-delicious:before {
    content: "\eacc";
}

.icon-html5:before {
    content: "\eadf";
}

.icon-heart:before {
    content: "\e600";
}

.icon-trash:before {
    content: "\e601";
}

.icon-settings:before {
    content: "\e602";
}

.icon-tag:before {
    content: "\e603";
}

.icon-eye:before {
    content: "\e604";
}

.icon-params:before {
    content: "\e605";
}



// SECOND SET ICOMOON2


.icon-pencil:before {
    font-family : 'icomoon2';
    content: "\e905";
}

.icon-pencil2:before {
    font-family : 'icomoon2';
    content: "\e906";
}

.icon-bullhorn:before {
    font-family : 'icomoon2';
    content: "\e91a";
}

.icon-connection:before {
    font-family : 'icomoon2';
    content: "\e91b";
}

.icon-book:before {
    font-family : 'icomoon2';
    content: "\e91f";
}

.icon-books:before {
    font-family : 'icomoon2';
    content: "\e920";
}

.icon-file-text:before {
    font-family : 'icomoon2';
    content: "\e922";
}


.icon-folder-open:before {
    font-family : 'icomoon2';
    content: "\e930";
}

.icon-folder-plus:before {
    font-family : 'icomoon2';
    content: "\e931";
}

.icon-folder-minus:before {
    font-family : 'icomoon2';
    content: "\e932";
}

.icon-folder-download:before {
    font-family : 'icomoon2';
    content: "\e933";
}

.icon-folder-upload:before {
    font-family : 'icomoon2';
    content: "\e934";
}

.icon-key:before {
    font-family : 'icomoon2';
    content: "\e98d";
}

.icon-key2:before {
    font-family : 'icomoon2';
    content: "\e98e";
}

.icon-lock:before {
    font-family : 'icomoon2';
    content: "\e98f";
}

.icon-unlocked:before {
    font-family : 'icomoon2';
    content: "\e990";
}

.icon-equalizer:before {
    font-family : 'icomoon2';
    content: "\e992";
}

.icon-equalizer2:before {
    font-family : 'icomoon2';
    content: "\e993";
}

.icon-cog:before {
    font-family : 'icomoon2';
    content: "\e994";
}

.icon-cogs:before {
    font-family : 'icomoon2';
    content: "\e995";
}

.icon-pie-chart:before {
    font-family : 'icomoon2';
    content: "\e99a";
}

.icon-stats-dots:before {
    font-family : 'icomoon2';
    content: "\e99b";
}

.icon-stats-bars:before {
    font-family : 'icomoon2';
    content: "\e99c";
}

.icon-bin:before {
    font-family : 'icomoon2';
    content: "\e9ac";
}

.icon-bin2:before {
    font-family : 'icomoon2';
    content: "\e9ad";
}

.icon-menu2:before {
    font-family : 'icomoon2';
    content: "\e9be";
}

.icon-menu3:before {
    font-family : 'icomoon2';
    content: "\e9bf";
}

.icon-menu4:before {
    font-family : 'icomoon2';
    content: "\e9c0";
}

.icon-embed:before {
    font-family : 'icomoon2';
    content: "\ea7f";
}

.icon-embed2:before {
    font-family : 'icomoon2';
    content: "\ea80";
}

.icon-feed2:before {
    font-family : 'icomoon2';
    content: "\ea94";
}

.icon-dribbble:before {
    font-family : 'icomoon2';
    content: "\eaa6";
}

.icon-blogger:before {
    font-family : 'icomoon2';
    content: "\eab9";
}

.icon-delicious:before {
    font-family : 'icomoon2';
    content: "\eacc";
}

.icon-html5:before {
    font-family : 'icomoon2';
    content: "\eadf";
}

.icon-heart:before {
    font-family : 'icomoon2';
    content: "\e600";
}

.icon-trash:before {
    font-family : 'icomoon2';
    content: "\e601";
}

.icon-settings:before {
    font-family : 'icomoon2';
    content: "\e602";
}

.icon-eye:before {
    font-family : 'icomoon2';
    content: "\e604";
}

.icon-params:before {
    font-family : 'icomoon2';
    content: "\e605";
}

