$mainFont: 'AvenirNext', 'HelveticaNeue', helvetica, arial, sans-serif;
$blue: #1f282d;
$greyLight: #e3e2e3;
$greyTitle: #787878;
$flashMsgBg: #bbe4f9;
$popInBg: #f6f6f6;
$tooltipBlue : rgba(172,210,229,1);
$tooltipBlueBorder : #97b3c2;
$ghostButtonColor : #eff5f8;
* {
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
}
body, html {
    font-family: $mainFont;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
.clearfix {
    display: block;
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
}
.clear {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.hidden {
    display: none !important;
}
header {
    height: 50px;
    background: $greyLight;
    width: 100%;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 10000;
    .headerContent {
        text-align: center;
        color: $greyTitle;
        float: left;
        line-height: 52px;
        text-align: right;
        padding-right: 105px;
        box-sizing: border-box;
        width : 100%
    }
    #profile {
        img {
            position: absolute;
            top: 5px;
            right: 48px;
            border-radius: 50%;
            border: 2px solid #fff;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
        #profileMenu {
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;
            background: white;
            width: 100px;
            text-align: center;
            position: absolute;
            top: 46px;
            right: 20px;
            border: 1px solid $greyLight;
            animation-duration: 1s;
            animation-name: fadeInDown;
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8.5px 10px 8.5px;
                border-color: transparent transparent #ffffff transparent;
                top: -9px;
                left: 44px;
            }
            li {
                line-height: auto;
                cursor: pointer;
                padding: 11px 5px 7px 5px;
                width: 100%;
                box-sizing: border-box;
                transition: all 0.5s ease;
                color: $greyTitle;
                a {
                    color: $greyTitle;
                }
                &:hover {
                    color: rgba(80, 80, 80, 1);
                ;
                    background: #f1f1f1;
                    &:before {
                        border-color: transparent transparent #f1f1f1 transparent;
                    }
                }
            }
        }
    }
    #leftBar {
        background-size: 20px 20px;
        width: 23%;
        max-width: 350px;
        min-width: 250px;
        height: 100%;
        border: 0;
        margin: 0;
        padding: 32px 52px 25px 52px;
        box-sizing: border-box;
        color: white;
        float: left;
        &::-webkit-input-placeholder {
            color: white;
            opacity: 0.8
        }
        &:-moz-placeholder {
            color: white;
            opacity: 0.8;
        }
        &::-moz-placeholder {
            color: white;
            opacity: 0.8;
        }
        &:-ms-input-placeholder {
            color: white;
            opacity: 0.8
        }
    }
}
a {
    text-decoration: none;
    color: white;
    transition: all 1s ease;
    &:hover {
        color : $greyLight;
    }
}
#burger {
    left: -100px;
    position: fixed;
    height: 30px;
    width: 33px;
    top: 10px;
    z-index: 10000;
    cursor: pointer;
    transition: all 0.6s ease;
    #row1, #row2, #row3 {
        margin-top: 3px;
        background: $blue;
        width: 33px;
        height: 4px;
        position: absolute;
    }
    #row2 {
        margin-top: 13px;
    }
    #row3 {
        margin-top: 23px;
    }
}
#burger.burgerOpen {
    transform: translateX(260px);
}
.container {
    min-height: 100%;
    width: 100%;
    padding: 60px 0px 50px 0px;
    box-sizing: border-box;
    background: white;
    position: relative;
    transition: transform 0.6s ease;
    h1 {
        font-size: 2.4em;
        margin: 30px 0 0 2.5%;
    }
}
.container.containerLeft {
    transition: transform 1s ease;
    transform: translateX(250px);
}

.button {
    width: 155px;
    height: 50px;
    position: relative;
    color: white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background 0.4s 0.5s;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 52px;
    &:hover {
        color: white !important;
        transition-delay: 0s;
        background: rgba(0, 0, 0, 0.4);

        svg {
            line {
                transition-delay: 0.1s;
            }
        }
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        line {
            stroke-width: 3;
            stroke: rgba(200, 200, 200, 0.2);
            fill: none;
            transition: all 1s ease;
        }
    }
}
.button.float {
    float: left;
    &:first-child {
        margin-right: 20px !important;
    }
}
.button svg line.top, .button svg line.bottom {
    stroke-dasharray: 155;
}
.button svg line.left, .button svg line.right {
    stroke-dasharray: 50;
}
.button:hover svg line.top {
    transform: translateX(-310px);
}
.button:hover svg line.bottom {
    transform: translateX(310px);
}
.button:hover svg line.left {
    transform: translateY(100px);
}
.button:hover svg line.right {
    transform: translateY(-100px);
}
.ghostBtn {
    width: 150px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.6);
    font-size: 0.9rem;
    color: black;
    display: block;;
    margin: 20px auto 0 auto;
    cursor : pointer;
    transition: all 0.9s ease;
    background : transparent !important;
    position : relative;
    overflow : hidden;
    span {
        position : relative;
        z-index : 9;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        transition: all 0.3s;
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: $ghostButtonColor;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    };
    &:hover {
        background : transparent;
        color: black !important;
        z-index: 1;
        &:after {
            height: 260%;
            z-index: -1;
            opacity: 1;
        };
    };
    &:active {
        z-index: 1;
        &:after {
            height: 400%;
            z-index: -1;
            opacity: 1;
        }
    };
}



#popin {
    display:none;
    position : fixed;
    top : 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index : 10000;

    .popinContent {
        position : absolute;
        width : 50%;
        left : 25%;
        top : 20%;
        background : $popInBg;
        z-index : 10000;
        padding : 10px 3% 40px 3%;
        border : 1px solid rgba(0,0,0,0.2);
    }
    #popinBg {
        position : absolute;
        top : 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        cursor : pointer;
    }
    #closePopin {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.1rem;
        color: #9f9fa0;
        cursor : pointer;
        transition: all 0.5s ease;
        &:hover {
            transform : scale(1.2);
        }
    }
}

.formData {
    width : 95%;
    margin : 20px auto;

    .form-group {
        width : 100%;
        position : relative;
        label {
            font-weight: bold;
            margin-bottom : 10px;
        }
        input {
            display : block;
            width: 100%;
            border : 0;
            padding-bottom : 5px;
            margin : 3px 0 20px 0px;
            border-bottom : 1px dashed rgba(0,0,0,0.5);
            background : transparent;
            box-sizing: border-box;
        }
        input[type='checkbox'] {
            display: inline-block;
            width : 25px;
        }
        textarea {
            display : block;
            width : 100%;
            max-width: 100%;
            background : transparent;
            border : 1px dashed rgba(0,0,0,0.5);
            margin-top : 15px;
            margin-bottom : 15px;
            padding : 5px;
            box-sizing: border-box;
            min-height: 60px;
        }
    }
    .checkboxContainer {
        font-size : 0.9rem;

    }
    .checkbox.disabled {
        opacity : 0.5;
        font-style : italic;
    }
    #urlCheckbox {
        padding-top : 5px;
    }
    #submitEdit {
        transition: all 0.5s ease;
        margin : 20px 0 0 0;
        float : right;
    }
}

#dashboard {
    textarea {
        min-height : 230px;
    }
}
#flashMsg {
    position : fixed;
    width : 250px;
    right : 20px;
    top : 55px;
    z-index:  100001;
    list-style: none;
    transition : all 0.5s ease;
    li {
        position : relative;
        display : block;
        padding : 10px;
        background : $flashMsgBg;
        color : white;
        margin-bottom : 10px;
        cursor : pointer;
        transition : all 0.5s ease;
        &:hover {
            background : #aaccde;
        }
    }
    li.error {
         background : #c0392b;
         &:hover {
             background : #ae3326;
        }
    }
    li.alert {
         background : #e69a22;
         &:hover {
             background : #d48e20;
        }
    }
}

.datepicker {
    cursor : pointer !important;
    background : url(../images/triangle.png) 95% center no-repeat
}

.tooltipsCircle {
    display : none;
    width : 15px;
    height: 15px;
    border : 3px solid $tooltipBlueBorder;
    border-radius: 50%;
    background : $tooltipBlue;
    animation : pulse 1.5s infinite;
    position : absolute;
    top : 50px;
    left : calc(100% - 12px);
    z-index:  100000001;
    cursor : pointer;
    opacity : 0.95;
}

#tooltipsContent {
    display : none;
    position : absolute;
    width : 250px;
    padding : 25px;
    background : $tooltipBlue;
    border-radius: 5px;
    color : white;
    top : 200px;
    left : 360px;
    z-index:  100000001;
    &:after {
        content : '';
        position: absolute;
        left: -15px;
        top: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 15px 12.5px 0;
        border-color: transparent $tooltipBlue transparent transparent;
    }
    a {
        border : 1px solid white;
        padding : 8px 25px;
        font-size : 0.9rem;
        float : right;
        margin : 0;
        &:hover {
            color : white;
            animation : littlePulse 0.5s;
        }
    }
    #crossTp {
        float : right;
        cursor : pointer;
        display : block;
        font-size : 2rem;
        margin-top : -22px;
        margin-right : -15px;
    }
}