$mainFont: 'AvenirNext', 'HelveticaNeue', helvetica, arial, sans-serif;
$greyLight: #e3e2e3;
$greyTitle: #787878;


#homePage {
    background: url(../images/homeBg.jpg) center no-repeat;
    background-size: cover;
    min-height : 100%;
    position : relative;
    .homeContainer{
        width : 70%;
        padding : 50px 15% 95px 15%;
        color : white;
        height : 100%;

        h1 {
            margin-top : 45px;
        }
        p {
            width : 80%;
            max-width : 500px;
            margin-bottom: 60px;
        }
    }
    footer {
        position : absolute;
        bottom : 0;
        width : 100%;
        background : rgba(255,255,255,0.5);
        ul {
            width : 90%;
            list-style: none;
            padding : 20px 5% 20px 5%;
            li{
                display : inline-block;
                color:  white;
                margin-right : 5%;
            }
        }
    }
}

.ghostBtn.btnHome {
    display : block;
    margin : 20px 0;
    color : white;
    border :  1px solid white;
    width: 160px;
    height: 40px;
    line-height: 40px;
    &:hover {
        color : $greyTitle;
    }
    &:last-child {
        margin-bottom : 40px;
    }
}


#formHome {
	background: url(../images/homeBg.jpg) center no-repeat;
	background-size: cover;
	min-height : 100%;
    #logo {
        display: block;
        margin: auto;
        min-width: 150px;
        max-width: 200px;
        width: 15%;
        padding-top: 50px;
    }
    h2 {
        text-align: center;
        color: white;
        font-family: $mainFont;
        font-weight: normal;
        font-size: 1.1rem;
        padding: 30px 0 0 0;
        &:after {
            content: '';
            width: 160px;
            height: 1px;
            background: #fff;
            display: block;
            margin: 20px auto 35px auto;
        }
    }
    .containerHome {
        width: 430px;
        display: block;
        margin: auto;
    }
    form {
        .form-group {
        	margin-left : -50px;
            width: 100%;
            margin-bottom: 20px;
            label {
                width: 30%;
                display: inline-block;
                margin-right: 3%;
                text-align: right;
                color: white;
                letter-spacing : 0.1rem;
                vertical-align: middle;
            }
            input {
            	width: 59%;
                padding: 4px 3%;
                display: inline-block;
                margin: 0;
                border: 0;
                height: 23px;
                line-height: 23px;
                border-bottom: 1px solid white;
                vertical-align: middle;
                background: rgba(255, 255, 255, 0.4);
                &::-webkit-input-placeholder {
		            color: black;
		            opacity: 0.6
		        }
		        &:-moz-placeholder {
		            color: black;
		            opacity: 0.6;
		        }
		        &::-moz-placeholder {
		            color: black;
		            opacity: 0.6;
		        }
		        &:-ms-input-placeholder {
		            color: black;
		            opacity: 0.6
		        }
            }
            input[type='submit'] {
            	display : block;
            	margin : auto;
            }
            input[type='file'] {
            	border : 0;
            	background : none;
            	color : white;
            	line-height: 0;
            	padding : 0;
            	margin : 0;
            }
            &:last-child {
            	margin-left : auto;
            }
        }
        .button {
        	margin-top : 40px;
        }
    }
    p {
    	text-align : center;
    	font-size : 0.9rem;
    	color : white;
    	padding-top : 10px;
    	padding-bottom : 20px;
    	color : rgba(255,255,255,0.95);
    	a {
    		border-bottom : 1px solid white;
    		transition: all 1s ease;
    		&:hover {
    			color : $greyTitle;
    			border-bottom : 1px solid $greyTitle;
    		}
    	}
    }
    #formFeedback {
		color : white;
		position: absolute;
		left: calc(50% + 200px);
		border-left: 1px solid white;
		padding-left: 20px;
		max-width : 270px;
		h3 {
			margin-top : 5px;
			font-size : 1.1rem;
		}
		ul {
			padding-left : 30px;
			list-style : square;
			li {

			}
		}
	}
}
#formHome.loginPage {
	#logo {
		padding-top : 55px!important;
	}
}

#whoAreWe {
    background: url(../images/homeBg.jpg) center no-repeat;
    background-size: cover;
    min-height : 100%;
    padding-top : 50px;
    position : relative;
    color : white;
    overflow: hidden;
    box-sizing: border-box;
    .btnHome {
        margin-left : 3%;
        margin-top:0;
    }
    h1{
        text-transform: uppercase;
        text-align : center;
        margin-top : 50px;
        margin-bottom : 30px;
    }
    p {
        text-align : center;
        line-height : 1.5rem;
        font-size : 1.1rem;
        width : 80%;
        margin : auto;
    }
    #whoAreWeTop{
        width: 100%;
        height: 215px;
        padding-bottom: 50px;
    }
    #teamContainer {
        width : 100%;
        padding: 0;
        position : absolute;
        bottom : 0;
        margin: 0;
        height : calc(100% - 400px);
        h2 {
            display : none;
            margin-top : 43%;
            margin-bottom : 60px;
        }
        h3 {
            display : none;
            padding : 15px 20px;
            box-sizing: border-box;
            border : 1px solid black;
            width : 80%;
            margin : auto;
            font-weight: bold;
        }
        li {
            position : relative;
            width : 16.66666%;
            float : left;
            display : block;
            text-align : center;
            height : 100%;
            color : black;
            span {
                font-weight : bold;
            }
            a {
                position : absolute;
                top : 0;
                bottom: 0;
                right: 0;
                left: 0;
                color : black;
                h2, h3 {
                    display : block;
                    opacity : 0;
                    transition: all 0.4s ease;
                }
                &:hover {
                    background : rgba(255,255,255,0.6);
                    transition: all 0.5s ease;
                    h2 {
                        opacity : 1;
                    }
                    h3 {
                        opacity : 1;

                    }
                }
            }
        }
        #nicolas {
            background : url('../images/team-nicolas.jpg') no-repeat bottom right;
            background-size : cover;
        }
        #heloise {
            background : url('../images/team-heloise.jpg') no-repeat bottom right;
            background-size : cover;
        }
        #patrick {
            background : url('../images/team-patrick.jpg') no-repeat bottom right;
            background-size : cover;
        }
        #mathieu {
            background : url('../images/team-mathieu.jpg') no-repeat bottom right;
            background-size : cover;
        }
        #wassim {
            background : url('../images/team-wassim.jpg') no-repeat bottom right;
            background-size : cover;
        }
        #clara {
            background : url('../images/team-clara.jpg') no-repeat bottom right;
            background-size : cover;
        }
    }
}