@media screen and (max-width: 1400px) {
    #dashboard {
        .cardList {
            li {
                width: calc(29.45% - 6px);
                margin: 30px 2%;
            }
        }
    }
    #homePage {
        #formFeedback {
            left: calc(50% + 175px);
        }
    }
}
@media screen and (max-width: 980px) {
    #dashboard {
        .cardList {
            li {
                width: calc(46% - 4px);
                margin: 30px 2%;
            }
        }
    }
    #homePage {
        #formFeedback {
            position : relative;
            left : auto;
            margin-bottom : 30px;
        }
    }
}
@media screen and (max-width: 700px) {
    #burger {
        left: 15px;
    }
    #sideBar {
        display: none;
    }
    #dashboard {
        .cardList {
            width: 100%;
            margin: auto;
            display: block;
            li {
                width: 90%;
                display: block;
                margin: 15px 5%;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        .headerContent {
            display: none;
        }
    }
}
@media screen and (max-width: 480px) {
    header {
        display: relative;
        .headerContent {
            display: none;
        }
        #profile {
            img {
                right: 20px;
            }
            #profileMenu {
                &:before {
                    right: 13px;
                    left: auto;
                }
            }
        }
    }
    $mainFont: 'HelveticaNeue', helvetica, arial, sans-serif;
    $greyLight: #e3e2e3;
    $greyTitle: #787878;
    #homePage {
        #logo {
            padding-top : 40px !important;
        }
        .container {
            width: 80%;
            display: block;
            margin: auto;
        }
        form {
            .form-group {
                margin-left : auto;
                width: 100%;
                margin-bottom: 20px;
                label {
                    width: 100%;
                    margin-right: 3%;
                    margin-bottom: 5px;
                    text-align: left;
                    &:after {
                        content : ' :';
                    }
                }
                input {
                    width: 96%;
                }
            }
            .button {
                margin-top: 40px;
            }
        }
    }
}
