$mainFont: 'AvenirNext', 'HelveticaNeue', helvetica, arial, sans-serif;
$blue: #1f282d;
$greyLight: #e3e2e3;
$greyTitle: #787878;

.container#profilePageWrapper{
    height: calc(100%);
    width: 100%;
    padding: 60px 0 0 0;
    box-sizing: border-box;
    background: white;
    position: relative;
}

#profilePage {
     width: 100%;
     height: 100%;
     position: relative;
     #topContainer {
         position: relative;
         background: url('../images/profileBg.jpg') no-repeat center;
         background-size: cover;
         height: 50%;
         .text {
             position: absolute;
             bottom: 0;
             color: white;
             left : 400px;
             display: inline;
             h1 {
                 font-weight : normal;
                 display : inline;
                 margin-left:0;
                 text-transform: capitalize;
             }
             h2 {
                 font-weight: normal;
                 margin-top : 0;
                 font-size : 1.1rem;
             }
         }
         #avatarContainer {
             width: 20%;
             max-width: 228px;
             position: absolute;
             bottom: -120px;
             left: 100px;
             img {
                 border-radius: 50%;
                 display: block;
                 width: 100%;
                 border: 4px solid white;
                 overflow : hidden;
                 max-width : 190px;
                 min-width:  150px;
                 margin : auto;
             }
             .ghostBtn {
                 color : #000;
             }
         }
     }
     #bottomContainer {
         form {
             width : 50%;
             margin-left : 400px;
             margin-top : 50px;
             .col {
                 width : 45%;
                 float : left;
                 &:first-child {
                     margin-right : 5%;
                 }
             }
             .form-group {
                 width : 100%;
                 position : relative;
                 label {
                     font-weight: bold;
                 }
                 input {
                     display : block;
                     width: 100%;
                     border : 0;
                     padding-bottom : 5px;
                     margin : 3px 0 10px;
                     border-bottom : 1px dashed transparent;
                 }
                 #birthdayProfile {
                    background : url(../images/triangle.png) 110px 6px no-repeat;
                    cursor : auto;
                 }
             }
             .form-group.password {
                 display : none;
                 opacity : 0;
                 transition: all 0.5s ease;
             }
             #submitEdit {
                 display : none;
                 opacity : 0;
                 transition: all 0.5s ease;
                 margin : 20px 0 0 0;
                 float : right;
             }
         }
         form.enabled {
             .form-group {
                 input {
                     border-bottom : 1px dashed rgba(0,0,0,0.5);
                 }
             }
             .form-group.password, #submitEdit {
                 display : block;
                 opacity : 1;
             }
             #birthdayProfile {
                 cursor : pointer;
             }
         }
     }
 }