$blue: #1f282d;
$darkBlue: #131c22;
$blueHover: #2f363c;
$lightBlue: #424950;
$midGrey: #9f9fa0;
$hoverSideBarLink: #bbe4f9;
$mainFont: 'AvenirNext', 'HelveticaNeue', helvetica, arial, sans-serif;

#sideBar {
    float: left;
    color: white;
    letter-spacing: 0.07rem;
    height: 100%;
    top : 0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 23%;
    max-width: 350px;
    min-width: 250px;
    transition: transform 0.75s ease;
    z-index:  10;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #000;
    }
    &::-webkit-scrollbar {
        width: 8px;
        background-color: #000;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #5f5f5f;
    }
    scrollbar-base-color: #5f5f5f;
    scrollbar-3dlight-color: #5f5f5f;
    scrollbar-highlight-color: #5f5f5f;
    scrollbar-track-color: #5f5f5f;
    scrollbar-arrow-color: white;
    scrollbar-shadow-color: #5f5f5f;
    scrollbar-dark-shadow-color: #5f5f5f;
    nav {
        background: $blue;
        height: calc(100% - 110px);
        transition: all 1s ease;
        padding-top: 110px;
        .button{
            margin-top : 30px;
        }
    }
    &.sideBarLeft {
        transform: translateX(250px);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #menu {
        .menuLink {
            transition: all 0.2s ease;
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        .menuLink, .categoryElement {
            position: relative;
            border-bottom: 2px solid $darkBlue;
            border-top: 1px solid $lightBlue;
            display: block;
            width: 100%;
            i {
                margin-right: 8px;
                position: absolute;
                left: 19px;
                top: 18px;
                font-size: 1.3rem;
            }
            a {
                display: block;
                width: 100%;
                padding: 23px 20px 20px 20px;
                transition: all 0.5s ease;
                width: calc(100% - 40px - 35px);
                margin-left: 35px;
                &:hover {
                    color: $hoverSideBarLink;
                }
            }
            &:before {
                content: '';
                width: 4px;
                background: $hoverSideBarLink;
                position: absolute;
                left: -7px;
                top: 0;
                height: 62px;
                opacity: 0;
                transition: transform 0.1s ease, opacity 0.4s ease;
            }
            &:hover {
                background: $blueHover;
                &:before {
                    opacity: 1;
                    transform: translateX(7px);
                }
                span {
                    color: $hoverSideBarLink;
                }
            }
        }
        .menuLink.active, .categoryElement.active {
            background: $blueHover;
            &:before {
                opacity: 1;
                transform: translateX(7px);
            }
            a {
                color: $hoverSideBarLink;
                font-weight: bold;
            }
            span {
                color: $hoverSideBarLink;
            }
        }
        #categoryList {
            padding: 0;
            background: $blue;
            .categoryElement {
                span {  
                    // + / - 
                    position: absolute;
                    right: 5%;
                    top: 19px;
                    font-size: 1.3rem;
                    cursor: pointer;
                }
                .snippetsList {
                    display: none;
                    width: 100%;
                    position: relative;
                    a {
                        padding: 17px 20px 20px 20px;
                        background: $midGrey;
                        width: calc(100% - 27px - 42px);
                        padding-left: 49px;
                        margin-left: 0;
                        border-top: 1px solid #424950;
                    }
                    li {
                        position: relative;
                        margin: 0;
                    }
                    li:hover {
                        color: $hoverSideBarLink;
                    }
                    li.active {
                        color: $hoverSideBarLink;
                        font-weight: bold;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}