$mainFont: 'AvenirNext', 'HelveticaNeue', helvetica, arial, sans-serif;
$greyLight: #e3e2e3;
$greyTitle: #787878;


#homePage {
    background: url(../images/homeBg.jpg) center no-repeat;
    background-size: cover;
    min-height : 100%;
    position : relative;
    .homeContainer{
        width : 70%;
        padding : 50px 15% 95px 15%;
        color : white;
        height : 100%;

        h1 {
            margin-top : 45px;
        }
        p {
            width : 80%;
            max-width : 500px;
            margin-bottom: 60px;
        }
        a {
            display : block;
            margin : 20px 0;
            color : white;
            border :  1px solid white;
            width: 160px;
            height: 40px;
            line-height: 40px;
            &:hover {
                color : $greyTitle;
            }
            &:last-child {
                margin-bottom : 40px;
            }
        }
    }
    footer {
        position : absolute;
        bottom : 0;
        width : 100%;
        background : rgba(255,255,255,0.5);
        ul {
            width : 90%;
            list-style: none;
            padding : 20px 5% 20px 5%;
            li{
                display : inline-block;
                color:  white;
                margin-right : 5%;
            }
        }
    }
}

#formHome {
	background: url(../images/homeBg.jpg) center no-repeat;
	background-size: cover;
	min-height : 100%;
    #logo {
        display: block;
        margin: auto;
        min-width: 150px;
        max-width: 200px;
        width: 15%;
        padding-top: 50px;
    }
    h2 {
        text-align: center;
        color: white;
        font-family: $mainFont;
        font-weight: normal;
        font-size: 1.1rem;
        padding: 30px 0 0 0;
        &:after {
            content: '';
            width: 160px;
            height: 1px;
            background: #fff;
            display: block;
            margin: 20px auto 35px auto;
        }
    }
    .containerHome {
        width: 430px;
        display: block;
        margin: auto;
    }
    form {
        .form-group {
        	margin-left : -50px;
            width: 100%;
            margin-bottom: 20px;
            label {
                width: 30%;
                display: inline-block;
                margin-right: 3%;
                text-align: right;
                color: white;
                letter-spacing : 0.1rem;
                vertical-align: middle;
            }
            input {
            	width: 59%;
                padding: 4px 3%;
                display: inline-block;
                margin: 0;
                border: 0;
                height: 23px;
                line-height: 23px;
                border-bottom: 1px solid white;
                vertical-align: middle;
                background: rgba(255, 255, 255, 0.4);
                &::-webkit-input-placeholder {
		            color: black;
		            opacity: 0.6
		        }
		        &:-moz-placeholder {
		            color: black;
		            opacity: 0.6;
		        }
		        &::-moz-placeholder {
		            color: black;
		            opacity: 0.6;
		        }
		        &:-ms-input-placeholder {
		            color: black;
		            opacity: 0.6
		        }
            }
            input[type='submit'] {
            	display : block;
            	margin : auto;
            }
            input[type='file'] {
            	border : 0;
            	background : none;
            	color : white;
            	line-height: 0;
            	padding : 0;
            	margin : 0;
            }
            &:last-child {
            	margin-left : auto;
            }
        }
        .button {
        	margin-top : 40px;
        }
    }
    p {
    	text-align : center;
    	font-size : 0.9rem;
    	color : white;
    	padding-top : 10px;
    	padding-bottom : 20px;
    	color : rgba(255,255,255,0.95);
    	a {
    		border-bottom : 1px solid white;
    		transition: all 1s ease;
    		&:hover {
    			color : $greyTitle;
    			border-bottom : 1px solid $greyTitle;
    		}
    	}
    }
    #formFeedback {
		color : white;
		position: absolute;
		left: calc(50% + 200px);
		border-left: 1px solid white;
		padding-left: 20px;
		max-width : 270px;
		h3 {
			margin-top : 5px;
			font-size : 1.1rem;
		}
		ul {
			padding-left : 30px;
			list-style : square;
			li {

			}
		}
	}
}
#formHome.loginPage {
	#logo {
		padding-top : 55px!important;
	}
}