{% extends 'layout/mail.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    Hi, {{ firstname }}
    <br/>
    It's the first step of lostPassword, please click on this link : <a href="{{ contentHtml | raw }}">Change my Password</a>
{% endblock %}