<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ block('title') }}</title>
    </head>
    <body>
        <div class="body">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>