<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>MyDropper - {{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}">
        {% block stylesheets %}
            {{ asset('css', 'style.min.css') }}
        {% endblock %}
    </head>
    <body>
        <div class="body">
            {% block body %} {% endblock %}
        </div>

        {% block javascripts %}
            {{ asset('js', 'style.js') }}
        {% endblock %}
    </body>
</html>