# Enable rewrite engine and route requests to framework
RewriteEngine On

RewriteCond %{REQUEST_URL} ini$
RewriteRule .* index.php

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]